.book-pane {
    -fx-padding: 16 0 5 0;
}

.book-node:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-effect: none;
}

.book-node {
    -fx-padding: 0 !important;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-insets: -8 0 -6 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 5, 5);
    -fx-max-height: 180;
}

.book-node-title {
    -fx-alignment: center;
    -fx-font-size: 14;
    -fx-font-weight: BOLD;
    -fx-max-width: 100;
    -fx-ellipsis-string: "...";
    -fx-wrap-text: false;
}

.book-root * {
    -fx-background-color: transparent;
}

.action-node .glyph-font {
    -fx-text-fill: #FFF !important;
    -fx-font-size: 30px;
}

.action-node {
    -fx-background-radius: 25;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-color: #009688;
}

.update-list .list-cell {
    -fx-alignment: LEFT;
    -fx-text-alignment: LEFT;
}

