@import "colors";


.launcher-view {
  -fx-pref-height: 340;
  -fx-pref-width: 340;
  -fx-padding: 20;
  -fx-background-color: transparent;

  * {
    -fx-text-fill: #FFF;
  }

  .container {
    -fx-spacing: 5;
    -fx-background-color: linear-gradient(rgb(31, 212, 174), rgb(30, 205, 148));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 20, 0.19, 0, 6);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 4;

    .logo {
      -fx-font-size: 40px;
      -fx-alignment: center;
      -fx-text-alignment: center;
      -fx-wrap-text: true;
    }

    .progress-view {
      -fx-padding: 0 0 10 0;

      .phase {
        -fx-font-size: 15px;
        -fx-text-alignment: center;
      }
    }

    .error {
      -fx-text-fill: $md_red_700;
    }

    .exit-btn {
      -fx-background-color: $md_red_700;
      -fx-pref-width: 16;
      -fx-max-height: 16;
      -fx-max-width: 16;
      -fx-pref-height: 16;
      -fx-shape: "M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z";
    }
  }

  &:updating {
    .scroll-pane {
      -fx-fit-to-width: true;
      -fx-background-color: transparent;

      .viewport {
        -fx-background-color: transparent;
      }

      .what-new {
        -fx-padding: 10;
        -fx-text-alignment: left;
        -fx-wrap-text: true;
        -fx-font-size: 15px !important;
      }

      .scroll-bar {
        -fx-pref-width: 10;
        -fx-background-color: transparent;

        .track {
          -fx-background-color: transparent;
        }

        .track-background {
          -fx-background-color: transparent;
        }

        .thumb {
          -fx-background-color: $md_teal_300;

          &:hover {
            -fx-background-color: #009688;
          }
        }

        .increment-button {
          -fx-background-color: transparent;
          -fx-max-height: 0;
        }

        .increment-arrow {
          -fx-background-color: transparent;
          -fx-max-height: 0;
        }

        .decrement-button {
          -fx-background-color: transparent;
          -fx-max-height: 0;
        }

        .decrement-arrow {
          -fx-background-color: transparent;
          -fx-max-height: 0;
        }
      }
    }

    .progress-view {
      -fx-min-height: 40;

      .progress-box {
        -fx-spacing: 3;
        -fx-alignment: center;

        .phase {
          -fx-text-alignment: center;
          -fx-font-size: 14px;
        }

        .progress-bar {
          -fx-padding: 0 10 0 10;
          -fx-min-height: 5;
          -fx-min-width: 300;
          -fx-indeterminate-bar-length: 100;
          -fx-indeterminate-bar-animation-time: 2;

          .track {
            -fx-background-color: #bfbfbf;
            -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
            -fx-background-radius: 4, 3, 2;
          }

          .bar {
            -fx-background-color: linear-gradient(to left, derive($md_teal_300, -7%), derive($md_teal_400, 0%), derive($md_teal_500, -3%), derive($md_teal_500, -9%));
            -fx-background-insets: 0;
            -fx-padding: 3;
          }

          &:indeterminate {
            .bar {
              -fx-background-color: linear-gradient(to left, transparent, $md_teal_500);
            }
          }
        }
      }
    }
  }
}