[Desktop Entry]
Name=${info.displayName}
GenericName=${info.displayName}
Comment=${info.description}
Exec=/opt/${info.name}/${info.name} %U
Icon=/opt/${info.name}/${info.name}.png
Terminal=false
Type=Application
StartupNotify=true
