root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java, xml, sql, properties}]
indent_style = space
indent_size = 4

[*.java]
ij_java_class_count_to_use_import_on_demand = 6
ij_java_names_count_to_use_import_on_demand = 6
