@import "../define/global";

$border-radius: 10;

// 菜单面板
.sidebar-nav-pane {
  -fx-background-radius: 0 0 $border-radius $border-radius;
  -fx-border-radius: 0 0 $border-radius $border-radius;
  -fx-background-color: sidebar-pane-bg-color;

  // 右侧视图面版
  .sidebar-nav-content {
    -fx-background-radius: 0 0 $border-radius 0;
    -fx-border-radius: 0 0 $border-radius 0;
    -fx-background-color: transparent;
  }

  // 左侧菜单面板
  .sidebar-nav {
    @include ladderTextFill(sidebar-bg-color);
    -fx-spacing: 10;
    -fx-pref-width: 200;
    -fx-background-radius: 0 0 0 $border-radius;
    -fx-border-radius: 0 0 0 $border-radius;
    -fx-padding: 0 20 0 20;

    // 菜单分组
    .sidebar-nav-menu-group-label {
      -fx-alignment: center-left;
      -fx-padding: 20 0 0 10;
      -fx-text-fill: ladder(sidebar-bg-color, $md_grey_200 45%, $md_grey_300 46%, $md_grey_400 59%, $md_grey_500 60%);
    }

    // 菜单按钮
    .sidebar-nav-menu {
      -fx-background-color: transparent;
      -fx-border-color: transparent;
      -fx-font-size: 13px;
      -fx-pref-width: 160;
      -fx-text-fill: inherit;
      -fx-min-height: 30;
      -fx-border-radius: 3px;
      -fx-background-radius: 3px;
      -fx-alignment: center-left;

      &:selected {
        @include ladderTextFillForce(menu-bg-color-selected);
        @include shadow-br-3(derive(-fx-text-fill, -100%));
        -fx-background-color: menu-bg-color-selected !important;
      }

      &:hover {
        @include ladderTextFill(menu-bg-color-hover);
        -fx-background-color: menu-bg-color-hover;
        -fx-cursor: hand;
      }

      .icon {
        -fx-icon-size: 14px;
        -fx-background-insets: 0;
        -fx-text-fill: inherit;
      }
    }
  }
}


