@import "../define/_global";

.tag {
  -fx-tag-color: #009688;
  @include ladderTextFillForce(-fx-tag-color);
  -fx-background-color: -fx-tag-color;
  -fx-padding: 1px 3px 1px 3px;
  -fx-background-radius: 3px;
  -fx-border-radius: 3px;
}