@import "../define/global";

.title-bar {
  -fx-action-color: #009688;
  -fx-padding: 10px 10px 0 10px !important;
  -fx-alignment: center;

  .title {
    -fx-padding: -2px 0 0 0;
    @include ladderTextFill(-fx-base);
    -fx-font-size: 20px;
  }

  .content {
  }

  .actions {
    -fx-alignment: center;
    @include shadow-br-3(-fx-action-color);
    -fx-spacing: 5;
    -fx-background-color: -fx-action-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    .button {
      -fx-font-size: 13px;
      @include ladderTextFill(-fx-action-color);

      .icon {
        -fx-icon-size: 11px;
        -fx-text-fill: inherit;
      }
    }
  }
}