.sidebar-nav-pane {
  -fx-background-radius: 0 0 10 10;
  -fx-border-radius: 0 0 10 10;
  -fx-background-color: sidebar-pane-bg-color; }
  .sidebar-nav-pane .sidebar-nav-content {
    -fx-background-radius: 0 0 10 0;
    -fx-border-radius: 0 0 10 0;
    -fx-background-color: transparent; }
  .sidebar-nav-pane .sidebar-nav {
    -fx-text-fill: ladder(sidebar-bg-color, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);
    -fx-spacing: 10;
    -fx-pref-width: 200;
    -fx-background-radius: 0 0 0 10;
    -fx-border-radius: 0 0 0 10;
    -fx-padding: 0 20 0 20; }
    .sidebar-nav-pane .sidebar-nav .sidebar-nav-menu-group-label {
      -fx-alignment: center-left;
      -fx-padding: 20 0 0 10;
      -fx-text-fill: ladder(sidebar-bg-color, #eeeeee 45%, #e0e0e0 46%, #bdbdbd 59%, #9e9e9e 60%); }
    .sidebar-nav-pane .sidebar-nav .sidebar-nav-menu {
      -fx-background-color: transparent;
      -fx-border-color: transparent;
      -fx-font-size: 13px;
      -fx-pref-width: 160;
      -fx-text-fill: inherit;
      -fx-min-height: 30;
      -fx-border-radius: 3px;
      -fx-background-radius: 3px;
      -fx-alignment: center-left; }
      .sidebar-nav-pane .sidebar-nav .sidebar-nav-menu:selected {
        -fx-text-fill: ladder(menu-bg-color-selected, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%) !important;
        -fx-effect: dropshadow(three-pass-box, derive(-fx-text-fill, -100%), 3, 0, 1, 1) !important;
        -fx-background-color: menu-bg-color-selected !important; }
      .sidebar-nav-pane .sidebar-nav .sidebar-nav-menu:hover {
        -fx-text-fill: ladder(menu-bg-color-hover, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);
        -fx-background-color: menu-bg-color-hover;
        -fx-cursor: hand; }
      .sidebar-nav-pane .sidebar-nav .sidebar-nav-menu .icon {
        -fx-icon-size: 14px;
        -fx-background-insets: 0;
        -fx-text-fill: inherit; }