.stage-decorator {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-effect: dropshadow(three-pass-box, #757575, 10, 0.3, 0, 0);
  -fx-border-width: 10; }
  .stage-decorator .stage-decorator-header {
    -fx-background-radius: 20 20 0 0;
    -fx-border-radius: 20 20 0 0;
    -fx-alignment: center-right;
    -fx-pref-height: 60;
    -fx-background-color: #393D49; }
    .stage-decorator .stage-decorator-header .stage-decorator-logo {
      -fx-padding: 0 0 0 20;
      -fx-spacing: 4;
      -fx-alignment: center-left; }
      .stage-decorator .stage-decorator-header .stage-decorator-logo .stage-decorator-logo-icon {
        -fx-fit-width: 25px;
        -fx-fit-height: 25px; }
      .stage-decorator .stage-decorator-header .stage-decorator-logo .stage-decorator-logo-title {
        -fx-font-size: 17;
        -fx-text-fill: #FFF; }
    .stage-decorator .stage-decorator-header .stage-decorator-actions {
      -fx-alignment: center-right;
      -fx-padding: 0 15 0 0;
      -fx-spacing: 3; }
      .stage-decorator .stage-decorator-header .stage-decorator-actions .icon-button {
        -fx-text-fill: ladder("#393D49", rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%) !important;
        -fx-content-display: GRAPHIC_ONLY; }
        .stage-decorator .stage-decorator-header .stage-decorator-actions .icon-button .icon {
          -fx-icon-size: 15px;
          -fx-text-fill: ladder("#393D49", rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%) !important; }
          .stage-decorator .stage-decorator-header .stage-decorator-actions .icon-button .icon:hover {
            -fx-text-fill: #42a5f5; }
      .stage-decorator .stage-decorator-header .stage-decorator-actions .stage-decorator-actions-exit:hover {
        -fx-background-color: #d50000; }
        .stage-decorator .stage-decorator-header .stage-decorator-actions .stage-decorator-actions-exit:hover .icon {
          -fx-text-fill: #FFF !important; }
      .stage-decorator .stage-decorator-header .stage-decorator-actions .stage-decorator-action-separator {
        -fx-pref-width: 1;
        -fx-max-height: 25;
        -fx-end-margin: 10;
        -fx-background-color: #9e9e9e; }