.stage-decorator {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-radius: 5 !important;
  -fx-border-radius: 5;
  -fx-border-width: 10;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4); }
  .stage-decorator .stage-decorator-header {
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-alignment: center-right;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-color: header-bg-color; }
    .stage-decorator .stage-decorator-header .stage-decorator-logo {
      -fx-padding: 0 0 0 20;
      -fx-spacing: 4;
      -fx-alignment: center-left; }
      .stage-decorator .stage-decorator-header .stage-decorator-logo .stage-decorator-logo-icon {
        -fx-effect: dropshadow(three-pass-box, black, 3, 0, 1, 1) !important;
        -fx-fit-width: 25px;
        -fx-fit-height: 25px; }
      .stage-decorator .stage-decorator-header .stage-decorator-logo .stage-decorator-logo-title {
        -fx-text-fill: ladder(header-bg-color, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);
        -fx-font-size: 17; }
    .stage-decorator .stage-decorator-header .stage-decorator-actions {
      -fx-alignment: center-right;
      -fx-padding: 0 15 0 0;
      -fx-spacing: 3; }
      .stage-decorator .stage-decorator-header .stage-decorator-actions .icon-button {
        -fx-text-fill: ladder(header-bg-color, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);
        -fx-content-display: GRAPHIC_ONLY; }
        .stage-decorator .stage-decorator-header .stage-decorator-actions .icon-button .icon {
          -fx-icon-size: 15px;
          -fx-text-fill: inherit; }
          .stage-decorator .stage-decorator-header .stage-decorator-actions .icon-button .icon:hover {
            -fx-text-fill: ladder(header-bg-color, white 49%, black 50%); }
      .stage-decorator .stage-decorator-header .stage-decorator-actions .stage-decorator-actions-exit:hover {
        -fx-background-color: #d50000; }
        .stage-decorator .stage-decorator-header .stage-decorator-actions .stage-decorator-actions-exit:hover .icon {
          -fx-text-fill: white !important; }
      .stage-decorator .stage-decorator-header .stage-decorator-actions .stage-decorator-action-separator {
        -fx-background-color: ladder(header-bg-color, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);
        -fx-pref-width: 1;
        -fx-max-height: 22; }