.header-container {
    -fx-background-color: #393D49;
}

.header-container .label {
    -fx-font-size: 15px;
    -fx-text-fill: #FFF;
}

.header-container .label:hover {
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 2, 0, 2, 2);
}

.header-container .jfx-svg-glyph, .header-container .header-line {
    -jfx-size: 15px;
    -fx-background-color: #FFF;
}

.header-container .jfx-svg-glyph:hover {
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, bg-color, 2, 0, 2, 2);
}

.stage-decorator {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, md_grey_600, 10, 0.1, 0, 0);;
    -fx-border-width: 10;
}


.header-icon-exit {
    -fx-font-size: 17px !important;
}

.header-icon-exit:hover {
    -fx-text-fill: rgb(255, 116, 72) !important;
}

/*窗口顶部和设置的分割线*/
.header-line {
    -fx-pref-width: 1;
    -fx-max-height: 20;
}
