/*
  @import
  @font-face
  必需放前面：@see javafx.css.CssParser#parse
*/
@import "import";
@import url("define/colors.css");

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/fontawesome.ttf");
}

@font-face {
  font-family: '.PingFang SC';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/pingfang-simple-bold.ttf");
}

.root {
  /* 基础 */
  -fx-base: #FFF;
  bg-color: -fx-base;
  border-color: ladder(bg-color, rgba(255, 255, 255, 0.3) 49%, rgba(0, 0, 0, 0.3) 50%);
  /*text-color: ladder(bg-color, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);*/

  /*hover-bg-color: md_teal_900;*/
  /*hover-text-color: ladder(hover-bg-color, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);*/
  selected-bg-color: linear-gradient(to left, rgb(31, 212, 174), rgb(30, 205, 148));
  /*selected-bg-color: linear-gradient(to left, #FFF, #000);*/
  /*selected-text-color: ladder(selected-bg-color, rgba(255, 255, 255, 0.87) 49%, rgba(0, 0, 0, 0.87) 50%);*/

  /* 头部 */

  /* 侧边栏 */
  sidebar-bg-color: $md_grey_100;
  /* 菜单 */
  menu-bg-color-selected: $md_light_blue_600;
  menu-effect-selected: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 3, 0, 1, 1);

  menu-bg-color-hover: rgba(216, 216, 216, 0.3);
  menu-effect-hover: dropshadow(three-pass-box, $md_grey_400, 1, 0, 0, 0);

  /* 默认样式 */
  -fx-font-family: $font-family;
  -fx-font-size: $font-size;
}

/* 字体图标 */
.icon {
  -fx-font-family: "FontAwesome" !important;
}

