/*
  @import
  @font-face
  必需放前面：@see javafx.css.CssParser#parse
*/
@import url("define/colors.css");
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/fontawesome.ttf"); }

@font-face {
  font-family: '.PingFang SC';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/pingfang-simple-bold.ttf"); }

.scroll-pane .viewport {
  -fx-background-color: transparent;
  -fx-border-color: transparent; }