.setting-view {
  -fx-padding: 10;
  -fx-border-color: transparent;
  -fx-background-color: transparent; }
  .setting-view .setting-box {
    -fx-spacing: 10; }
    .setting-view .setting-box .setting-name {
      -fx-border-color: theme-selected-color;
      -fx-border-width: 0 0 0 5;
      -fx-padding: 0 0 0 5;
      -fx-font-size: 14px; }
    .setting-view .setting-box .setting-items {
      -fx-padding: 0 0 0 15;
      -fx-spacing: 20; }
      .setting-view .setting-box .setting-items .setting-item {
        -fx-spacing: 10; }
        .setting-view .setting-box .setting-items .setting-item .setting-item-name {
          -fx-text-fill: theme-dark-color; }
        .setting-view .setting-box .setting-items .setting-item .setting-item-content {
          -fx-spacing: 10;
          -fx-padding: 0 0 0 20; }