/*
  @import
  @font-face
  必需放前面：@see javafx.css.CssParser#parse
*/
@import "define/_global";

.root {
  //-fx-font-family: ".PingFang SC";
}

@import "widgets/sidebar-navigation";
@import "widgets/stage-decorator";
@import "widgets/modal";
@import "widgets/loading";
@import "widgets/search-bar";
@import "widgets/scroll-pane";
@import "widgets/popup";
@import "widgets/check-bok";
@import "widgets/list-view";
@import "widgets/spinner";
@import "widgets/tag";
@import "widgets/table-view";
@import "widgets/toast";
@import "widgets/context-menu";
@import "widgets/text-field";
@import "widgets/combo-box";
@import "widgets/input-box";
@import "widgets/loading-image-view";
@import "widgets/hyperlink";
@import "widgets/title-bar";
@import "widgets/tab-button";
@import "widgets/progress-bar";
@import "widgets/tooltip";
@import "widgets/slider";
@import "widgets/tab-pane";