@import "../../define/_global.scss";

.home-theme-popup {
  -fx-pref-height: $_150px;
  -fx-pref-width: $_320px;
  -fx-alignment: center;
  -fx-padding: 0 $_10px 0 $_10px;
  -fx-spacing: $_25px;


  .theme-popup-color-box {
    -fx-spacing: $_10px;
    -fx-alignment: center;

    .color-box-item {
      -fx-pref-width: $_38px;
      -fx-pref-height: $_38px;
      -fx-background-radius: 5px;
      -fx-border-radius: 5px;
      -fx-text-fill: white;
      -fx-font-size: $_11px;
      -fx-content-display: GRAPHIC_ONLY;
      @include shadow-br-3(theme-dark-color);

      &:hover {
        @include shadow-br-1(theme-dark-color);
      }
    }

    .color-box-item-custom {
      @extend .color-box-item;
      -fx-color-label-visible: false;

      .color-label {
        -fx-background-radius: 5px;
        -fx-border-radius: 5px;
      }
    }
  }
}
