Package: ${info.name}
Version: ${info.version}
Section: misc
Priority: optional
Architecture: amd64
Maintainer: ${info.organizationName} <$!{info.organizationEmail}>
Description: ${info.description}
Distribution: development
#if(${info.url})
Homepage: ${info.url}
#end