.root {
  -fx-base: #171718;
  theme-bg-color: #171718;
  theme-dark-color: #757575;
  theme-selected-color: rgba(51, 51, 51, 0.9);
  theme-hover-color: rgba(51, 51, 51, 0.8);
  theme-sidebar-bg-color: derive(#171718, 4%);
  theme-header-bg-color: #1e1e20; }

.stage-decorator {
  header-bg-color: #1e1e20;
  stage-decorator-bg-color: #171718; }
  .stage-decorator .sidebar-nav-pane {
    sidebar-pane-bg-color: #171718;
    sidebar-bg-color: derive(#171718, 4%);
    menu-bg-color-selected: rgba(51, 51, 51, 0.9);
    menu-bg-color-hover: rgba(51, 51, 51, 0.8); }

.jfx-popup-container {
  -fx-background-color: #171718; }