@import "../../define/_global.scss";
@import "default";

// 按钮选中颜色
$theme-color: rgb(77, 175, 124);
$theme-color-light: rgba(77, 175, 124, 0.2);
$header-bg-color: $theme-color;
$theme-icon-hover-color: $theme-color;
@import "theme";
