.root {
  -fx-base: $theme-bg-color;
  // 主题背景色
  theme-bg-color: $theme-bg-color;
  // 用于边框
  theme-border-color: $theme-border-color;
  theme-border-hover: $theme-border-hover;
  // 相对背景的暗色（分隔符、提示文字）
  theme-dark-color: $theme-dark-color;
  // 按钮选中颜色
  theme-selected-color: $theme-selected-color;
  // 按钮hover颜色
  theme-hover-color: $theme-hover-color;

  theme-sidebar-bg-color: $theme-sidebar-bg-color;
  theme-header-bg-color: $theme-header-bg-color;
}

.stage-decorator {
  header-bg-color: $theme-header-bg-color;
  stage-decorator-bg-color: $theme-bg-color;
  // 装饰器
  .sidebar-nav-pane {
    // 真正内容view背景颜色
    sidebar-pane-bg-color: $theme-bg-color;
    // 侧边栏颜色
    sidebar-bg-color: $theme-sidebar-bg-color;
    // 菜单按钮选中时颜色
    menu-bg-color-selected: $theme-selected-color;
    // 菜单按钮hover时颜色
    menu-bg-color-hover: $theme-hover-color;
  }
}

// popup背景色
.jfx-popup-container {
  -fx-background-color: $theme-bg-color;
}

.scroll-bar {
  -fx-pref-width: 10;
  -fx-background-color: transparent;

  .track {
    -fx-background-color: transparent;
  }

  .track-background {
    -fx-background-color: transparent;
  }

  .thumb {
    -fx-background-color: theme-border-color;

    &:hover {
      -fx-background-color: theme-border-hover;
    }
  }

  .increment-button {
    -fx-background-color: transparent;
    -fx-max-height: 0;
  }

  .increment-arrow {
    -fx-background-color: transparent;
    -fx-max-height: 0;
  }

  .decrement-button {
    -fx-background-color: transparent;
    -fx-max-height: 0;
  }

  .decrement-arrow {
    -fx-background-color: transparent;
    -fx-max-height: 0;
  }
}
