@import "../../define/_global.scss";
@import "default";

$base: rgb(43, 43, 43);
$theme-bg-color: $base;

$theme-color: rgb(51, 51, 51);
$theme-color-dark: $md_grey-600;
$theme-color-light: rgba(224, 224, 224, 0.2);
$theme-hover-color: rgb(51, 51, 51);
$theme-border-color: rgb(67, 67, 67);

$sidebar-bg-color: $theme-bg-color;
$header-bg-color: rgb(35, 35, 38);

@import "theme";
