@import "../../define/_global.scss";

$base: rgb(23, 23, 24);
// 主题背景色
$theme-bg-color: $base;
// 相对背景的暗色（分隔符、提示文字）
$theme-dark-color: $md_grey-600;
// 按钮选中颜色
$theme-selected-color: $md_teal_600;
// 按钮hover颜色
$theme-hover-color: rgba(51, 51, 51,0.9);

$theme-sidebar-bg-color: $theme-bg-color;
$theme-header-bg-color: rgb(30, 30, 32);

@import "template";
