@import "../../define/_global.scss";

$base: #FFF;
// 主题背景色
$theme-bg-color: $base;
// 边框、滚动条
$theme-border-color: rgb(224, 224, 224);
$theme-border-hover: rgb(207, 207, 209);
// 相对背景的暗色（分隔符、提示文字）
$theme-dark-color: $md_grey-600;
// 按钮选中颜色
$theme-selected-color: #393D49;
// 按钮hover颜色
$theme-hover-color: $md_grey_400;

$theme-sidebar-bg-color: $theme-bg-color;
$theme-header-bg-color: #393D49;

@import "template";
