@import "../../define/_global.scss";
@import "default";

$base: rgb(43, 43, 43);
// 主题背景色
$theme-bg-color: transparent;
// 相对背景的暗色（分隔符、提示文字）
$theme-dark-color: $md_grey_600;
// 按钮选中颜色
$theme-selected-color: $md_teal_600;
// 按钮hover颜色
$theme-hover-color: $md_grey_100;

$theme-sidebar-bg-color: transparent;
$theme-header-bg-color: transparent;

@import "theme";

.stage-decorator-container {
  -fx-background-image: url('/assets/images/bg.jpg');
}

.jfx-popup-container {
  -fx-background-image: url('/assets/images/bg.jpg');
}
