@import "../../define/_global.scss";
@import "default";

$theme-selected-color: rgb(155, 89, 182);
$theme-selected-color-light: rgba(155, 89, 182, 0.2);
$theme-header-bg-color: $theme-selected-color;
@import "theme";
