@import "../../define/_global.scss";
@import "default";

$theme-color: rgb(155, 89, 182);
$theme-color-light: rgba(155, 89, 182, 0.2);
$header-bg-color: $theme-color;
$theme-icon-hover-color: $theme-color;
@import "theme";
