@import "../../define/_global.scss";
@import "default";

$theme-selected-color: rgb(51, 110, 123);
$theme-selected-color-light: rgba(51, 110, 123, 0.2);
$theme-header-bg-color: $theme-selected-color;
@import "theme";
