@import "../../define/_global.scss";
@import "default";

$theme-selected-color: rgb(233, 212, 96);
$theme-selected-color-light: rgba(233, 212, 96, 0.2);
$theme-header-bg-color: $theme-selected-color;
@import "theme";
