.jfx-check-box {
  -jfx-checked-color: #009688;
  -jfx-unchecked-color: #888;

  .box {
    -fx-pref-width: $_14px;
    -fx-pref-height: $_14px;
    -fx-border-width: 1px;
  }

  .mark {
    -fx-shape: "M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z";
    -fx-max-width: $_10px;
    -fx-max-height: $_8px;
  }
}