@import "../define/_global";

.check-box {
  -fx-checked-color: #009688;
  -fx-unchecked-color: #888;

  &:selected .box {
    -fx-border-color: -fx-unchecked-color;
  }

  .box {
    -fx-pref-width: 14px;
    -fx-pref-height: 14px;
    -fx-border-width: 1px;
  }

  .mark {
    -fx-shape: "M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z";
    -fx-max-width: 10px;
    -fx-max-height: 8px;
  }
}

.jfx-check-box {
  -jfx-checked-color: -fx-checked-color;
  -jfx-unchecked-color: -fx-unchecked-color;
}