@import "../define/_global";

.context-menu {
  @include shadow();
  -fx-selected-color: -fx-base;
  -fx-background-color: -fx-base !important;

  .icon, .label {
    @include ladderTextFill(-fx-base);
  }

  .menu-item:hover, .menu-item:focused {
    -fx-background-color: -fx-selected-color;

    .icon, .label {
      @include ladderTextFill(-fx-selected-color);
    }
  }
}
