@import "../define/global";

.text-field, .text-area {
  -fx-bg-color: -fx-base;
  @include ladderTextFill(-fx-base);
  -fx-background-color: -fx-bg-color;
  -fx-border-color: transparent;

  * {
    -fx-background-color: transparent;
  }
}