#* @vtlvariable name="info" type="com.unclezs.novel.app.jfx.plugin.packager.packager.MacPackager" *#
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleGetInfoString</key>
        <string>${info.displayName} ${info.version}</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>${info.executable.name}</string>
        <key>CFBundleIconFile</key>
        <string>${info.name}.icns</string>
        <key>CFBundleIdentifier</key>
        <string>${info.macConfig.appId}</string>
        <key>CFBundleDisplayName</key>
        <string>${info.displayName}</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>${info.displayName}</string>
        <key>CFBundlePackageType</key>
        <string>BNDL</string>
        <key>CFBundleShortVersionString</key>
        <string>${info.version}</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>${info.version}</string>
        <key>NSHumanReadableCopyright</key>
        <string>${info.organizationName}</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
        <key>AdministratorRequired</key>
        #if ($info.administratorRequired)
            <true/>
        #else
            <false/>
        #end
        <key>JavaX</key>
        <dict>
            <key>MainClass</key>
            <string>${info.mainClass}</string>
            #if (!$info.bundleJre && $info.jreMinVersion)
                <key>JVMVersion</key>
                <string>${info.jreMinVersion}+</string>
            #end
            <key>ClassPath</key>
            <array>
                #foreach ($classpath in $info.classpathList)
                    <string>$classpath</string>
                #end
            </array>
            #if (!$info.vmArgs.empty)
                <key>VMOptions</key>
                <array>
                    #foreach ($vmArg in $info.vmArgs)
                        <string>$vmArg</string>
                    #end
                </array>
            #end
            #if ($info.useResourcesAsWorkingDir)
                <key>WorkingDirectory</key>
                <string>$APP_PACKAGE/Contents/Resources</string>
            #end
            <key>JVMOptionsFile</key>
            <string>$APP_PACKAGE/Contents/Resources/${info.name}.l4j.ini</string>
        </dict>
        <key>LSEnvironment</key>
        <dict>
            #if ($info.bundleJre)
                <key>JAVA_HOME</key>
                <string>Contents/PlugIns/${info.jreDirectoryName}/Contents/Home</string>
            #end
            #if($info.envPath)
                <key>PATH</key>
                <string>${info.envPath}</string>
            #end
        </dict>
        <key>NSAppleEventsUsageDescription</key>
        <string>There was an error while launching the application. Please
            click OK to display a dialog with more information or cancel and view
            the syslog for details.
        </string>
    </dict>
</plist>
