@import "../../define/global";

.fiction-rule {
  .container {
    -fx-spacing: $_10px;

    .header {
      .title {
        @include ladderTextFill(-fx-base);
        -fx-font-size: $_20px;
      }

      .actions {
        @include shadow-br-3(theme-color);
        -fx-spacing: 5;
        -fx-background-color: theme-color;
        -fx-border-radius: 10;
        -fx-background-radius: 10;

        .icon-button {
          -fx-font-size: 13px;
          @include ladderTextFill(theme-color);

          .icon {
            -fx-icon-size: 11px;
            -fx-text-fill: #FFF;
          }
        }
      }
    }

    .table-view {
      -fx-padding: 0;

      .placeholder {
        & > .tip {
          -fx-text-fill: theme-color-dark;
          -fx-font-size: 20px;
        }

        & > .icon {
          -fx-text-fill: theme-color-dark;
          -fx-icon-size: 50px;
        }
      }
    }
  }
}

