@import "../../define/global";

.fiction-rule {
  .container {
    .table-view {
      -fx-padding: 0;

      .placeholder {
        & > .tip {
          -fx-text-fill: theme-color-dark;
          -fx-font-size: 20px;
        }

        & > .icon {
          -fx-text-fill: theme-color-dark;
          -fx-icon-size: 50px;
        }
      }
    }
  }
}

