@import "../../define/global";

.search-novel-view {
  .container {
    .result-list {
      .placeholder {
        & > .tip {
          -fx-text-fill: theme-color-dark;
          -fx-font-size: 20px;
        }

        & > .icon {
          -fx-text-fill: theme-color-dark;
          -fx-icon-size: 50px;
        }
      }

      .list-cell {
        -fx-content-display: GRAPHIC_ONLY;
        -fx-padding: $_5px $_5px $_5px $_8px;

        .cell {
          -fx-alignment: center-left;
          -fx-spacing: 10;

          .title {
            -fx-font-size: $_14px;
            -fx-font-weight: bold;
          }

          .tags {
            -fx-spacing: $_10px;
          }
        }
      }
    }
  }
}

.book-detail {
  -fx-spacing: 10;
  -fx-alignment: center-left;

  .info {
    -fx-spacing: $_5px;
    -fx-min-width: $_280px;
    -fx-max-width: $_280px;

    .label {
      -fx-font-size: $_12px !important;
    }

    .item {
      -fx-alignment: center-left;

      &.title {
        .item-content {
          -fx-font-size: $_15px !important;
          -fx-font-weight: bold !important;
        }
      }

      .item-label {
        -fx-min-width: $_30px;
      }
    }
  }

  .desc .label {
    -fx-font-size: $_12px !important;
  }

  .actions {
    -fx-spacing: $_20px;
  }
}