@import "../../define/global";

.setting-view {
  -fx-padding: $_10px;
  -fx-border-color: transparent;
  -fx-background-color: transparent;

  .setting-box {
    -fx-spacing: $_10px;

    .setting-name {
      -fx-border-color: theme-color;
      -fx-border-width: 0 0 0 5px;
      -fx-padding: 0 0 0 $_5px;
      -fx-font-size: $_14px;
    }

    .setting-items {
      -fx-padding: 0 0 0 $_15px;
      -fx-spacing: $_20px;

      .setting-item {
        -fx-spacing: $_10px;

        .setting-item-name {
          -fx-text-fill: theme-color-dark;
        }

        .setting-item-content {
          -fx-spacing: $_10px;
          -fx-padding: 0 0 0 $_20px;
        }
      }
    }
  }
}


