@import "../define/global";

@import "widgets/theme-view";

.stage-decorator {

  &.hidden-header {
    .container {
      -fx-background-radius: 8;
      -fx-border-radius: 8;
    }
  }

  &.no-window-shadow {
    .stage-decorator-root {
      -fx-effect: null;
    }
  }

  &.no-header-shadow {
    .stage-decorator-header {
      -fx-effect: null;
    }
  }

  .reader-container {
    //-fx-bg-color: #ceebce;
    -fx-background-color: -fx-bg-color;
    -fx-alignment: center;
    -fx-padding: 0 0 0 0;

    .page-view {
      -fx-padding: 5px 0 5px 0;
      -fx-background-color: -fx-bg-color;
      -fx-alignment: top-left;
      -fx-text-overrun: clip;
      -fx-wrap-text: true;
      -fx-font-size: 18px;
      -fx-font-weight: normal !important;
      @include ladderTextFill(-fx-bg-color);

      .title {
        -fx-font-size: 30px;
        -fx-font-weight: bold;
        -fx-alignment: center;
        @include ladderTextFill(-fx-bg-color);
      }
    }
  }

  .setting-box {
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;

    .tipLabel {
      -fx-pref-width: 70px;
      -fx-min-width: 70px;
    }

    .setting-item-box {
      -fx-spacing: 20px;
      -fx-padding: 10 0 10 0;

      .chapter-slider-box {
        -fx-alignment: center;
        -fx-spacing: 1;

        .chapter-slider-button {
          -fx-pref-width: 70px;
        }

        .chapter-slider {
          -fx-block-increment: 1;
        }
      }

      .font-selector {
        .combo-box-base {
          .label {
            -fx-alignment: left;
          }
        }
      }

      .align-box {
        -fx-alignment: center-left;

        .tab-button {
          -fx-padding: 1 5 2 5;
          -fx-background-radius: 5;
          -fx-font-size: 15px;
          .icon {
            -fx-icon-size: 15px;
          }
        }
      }

      .font-type-box {
        -fx-alignment: center-left;

        .tab-button {
          -fx-padding: 1 5 2 5;
          -fx-background-radius: 5;
          -fx-font-size: 13px;

          .icon {
            -fx-icon-size: 13px;
          }
        }
      }

    }

    .setting-action-box {
      -fx-alignment: center;
      -fx-max-height: 20;

      .icon-button {
        -fx-content-display: top;

        .icon {
          @include ladderTextFill(-fx-base);
          -fx-icon-size: 18px;
        }
      }

      .speak {
        -fx-icon: "speak";

        &:selected {
          -fx-icon: "no_speak";
        }
      }

      .play {
        -fx-icon: "play";

        &:selected {
          -fx-icon: "play_pause";
        }
      }
    }
  }

  .jfx-drawer-side-pane {
    -fx-background-color: -fx-base;

    .toc-list-view {
      -fx-background-color: theme-color;

      .label {
        @include ladderTextFill(theme-color);
      }

      .icon {
        @include ladderTextFill(theme-color);
      }
    }
  }
}